!*.secret
.dccache
.dev-tooling/
.gitsecret/keys/pubring.kbx~
.gitsecret/keys/random_seed
.history
.idea
.next
.turbo
*.cache*
*.DS_Store
*.env*
**/coverage
**/public/storybook
**/storybook
*dist
*lerna-debug.log
*node_modules
*yarn-error.log
git-secret-temp
imageExceedLimits.csv
storybook-static/
Thumbs.db
node_modules/
